Flows/Lead/Batch_Assign_Martin_Vann_s_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RunAssignmentRule</name>
        <label>RunAssignmentRule</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IncrementCounter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>LoopAllLeads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Run_Assignment__Invocable_StandardAssignment</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>IncrementCounter</name>
        <label>IncrementCounter</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllLeads</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_0</name>
        <label>Check if &gt; 0</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_gt_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunAssignmentRule</targetReference>
            </connector>
            <label>Counter &gt; 0</label>
        </rules>
        <rules>
            <name>Counter_lt_eq_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Counter &lt;= 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Batch Assign Martin Vann&apos;s Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch Assign Martin Vann&apos;s Leads</label>
    <loops>
        <name>LoopAllLeads</name>
        <label>LoopAllLeads</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>GetAllLeadstoUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllLeadstoUpdate</name>
        <label>GetAllLeadstoUpdate</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllLeads</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0054W000009tHHUQA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllLeadstoUpdate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
        <value>
            <numberValue>70.0</numberValue>
        </value>
    </variables>
</Flow>
