Flows/Lead/Update_product_category_in_lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_the_record</name>
        <label>check the record</label>
        <locationX>500</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_xtuple_product</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>update_product_category_id</targetReference>
            </connector>
            <label>if record found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update product category in lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update product category in lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_xtuple_product</name>
        <label>get xtuple product</label>
        <locationX>497</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_the_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Xtuple_Product_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_product_category_id</name>
        <label>update product category id</label>
        <locationX>516</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Xtuple_Product_Category__c</field>
            <value>
                <elementReference>get_xtuple_product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>370</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>get_xtuple_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Category__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
