Flows/Make_Customer_Account_As_Do_Not_Engage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_the_DNE_value</name>
        <label>Check the DNE value</label>
        <locationX>772</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Do_Not_Engage_Is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Disable_Do_Not_Engage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record</targetReference>
            </connector>
            <label>If Do Not Engage Is False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Make Customer( Account ) As Do Not Engage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Make Customer( Account ) As Do Not Engage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>1121</locationX>
        <locationY>394</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Engage_Note__c</field>
            <value>
                <elementReference>Do_Not_Engage_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Engage__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Record_0</name>
        <label>Update Account Record</label>
        <locationX>740</locationX>
        <locationY>454</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Engage_Note__c</field>
            <value>
                <elementReference>Do_Not_Engage_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Engage__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Do_Not_Engage</name>
        <label>Do Not Engage</label>
        <locationX>623</locationX>
        <locationY>264</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_the_DNE_value</targetReference>
        </connector>
        <fields>
            <name>Do_Not_Engage_Reason</name>
            <dataType>String</dataType>
            <fieldText>Do Not Engage Reason</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Disable_Do_Not_Engage</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Disable Do Not Engage</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;This checkbox is used to remove the &apos;Do Not Engage&apos; status from the account. If &apos;Do Not Engage&apos; is activated on the account, the user must provide a reason for removing it on the account page layout.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>720</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Do_Not_Engage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
