Flows/Contact/Find_Create_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetCreatedContactId</name>
        <label>SetCreatedContactId</label>
        <locationX>688</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>FoundContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContact.NewContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetFoundContactId</name>
        <label>SetFoundContactId</label>
        <locationX>424</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>FoundContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContactByEmail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContactByEmail.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IfContactFound</name>
        <label>IfContactFound</label>
        <locationX>782</locationX>
        <locationY>317</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactByEmail.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFoundContactId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactByEmail.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewContact</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Searches for a Contact by email and creates on if no found. Returns ContactId along with Contact details.</description>
    <environments>Default</environments>
    <formulas>
        <name>contactNameStripped</name>
        <dataType>String</dataType>
        <expression>LEFT({!ContactName}, 30)</expression>
    </formulas>
    <interviewLabel>Find or Create Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find or Create Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindContactByEmail</name>
        <label>FindContactByEmail</label>
        <locationX>688</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfContactFound</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_4__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Email_2__c</queriedFields>
        <queriedFields>Email_3__c</queriedFields>
        <queriedFields>Email_4__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>688</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCreatedContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewContact.NewContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FindContactByEmail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>NewContact</name>
        <label>NewContact</label>
        <locationX>688</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <flowName>CreateNewContact</flowName>
        <inputAssignments>
            <name>ContactEmail</name>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactName</name>
            <value>
                <elementReference>contactNameStripped</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FoundContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
